nav {
  position: absolute;
  max-width: 1200px;
  margin: auto;
  height: 65px;
  left: 0;
  right: 0;
  background-color: (30, 30, 30, 0.5);
  padding-right: 0;
}

.menu-button {
  margin-right: 53px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.shop {
  margin-right: 42px;
}

.menu {
  position: absolute;
  top: 28px;
  display: inline-block;
  right: 0;
}

.menu-button:hover {
  padding-bottom: 10px;
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
  cursor: pointer;
}

.menu-image:hover {
  cursor: pointer;
}

.slider {
  background-image: url(http://i.lensdump.com/i/8e9PGT.jpg);
  background-size: cover;
}

.logo {
  position: relative;
  top: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}

.welcome1 {
  margin-top:23%;
  padding-bottom: 40px;
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  color: #ffffff;
}

.welcome2 {
  max-width: 840px;
  margin-left: calc(50% - 420px);
  margin-top: -0.5em;
  margin-bottom: 73px;
  text-align: center;
  line-height: 140px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 150px;
  color: #ffffff;
  text-transform: uppercase;
}

.banner-line {
  height: 3px;
  width: 60px;
  margin-left: calc(50% - 30px);
  margin-bottom: 50px;
  background-color: #ffffff;
}

.learn {
  height: 40px;
  width: 160px;
  margin-left: calc(50% - 80px);
  margin-bottom: 157px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.text-learn {
  position:relative;
  top: 7px;
}

.learn:hover {
  cursor: pointer;
  border: 3px solid #fce38a;
  color: #fce38a;
}

.button {
  float: left;
  width: 25%;
}

.text-button {
  width: 280px;
  padding-top: 25px;
  border-top: 3px solid #f8ebc4;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #f8ebc4;
}

.text-button:hover {
  border-top: 3px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}

.number-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.records, .about-us {
  text-align: center;
}

.header1 {
  margin-top: 90px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #333333;
  text-align: center;
}

.header2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}

.line {
  width: 60px;
  height: 3px;
  margin-left: calc(50% - 30px);
  background-color: #f38181;
}

.about-us {
  background-color: #ffffff;
}


.about-description {
  display: inline-block;
  max-width: 1200px;
  margin: 47px 10.75% 100px 10.75%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
}

.gallery {
  display: inline-block;
  height: 250px;
  width: 380px;
  margin-bottom: 110px;
}

.first {
  background-image: url(https://i.lensdump.com/i/8e9BOe.jpg);
}

.second {
  background-image: url(https://i.lensdump.com/i/8e9mck.jpg);
  background-position: center;
}

.third {
  background-image: url(https://i.lensdump.com/i/8e93Zx.jpg);
}

.not-last {
  margin-right: 30px;
}

.gallery:hover {
  background: #95e1d3;
  cursor: pointer;
}

.records {
  background-color: #95e1d3;
}

.back {
  max-width: 1200px;
  margin: auto;
}

.fact {
  float: left;
  width: 20%;
  margin: auto;
  padding-top: 89px;
  padding-bottom: 89px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  border: solid 1px #b5eae0;
  box-sizing: border-box;
}

.number-fact {
  font-weight: 700;
  font-size: 72px;
}

.text-fact {
  font-size: 14px;
}

.works {
  max-width: 1200px;
  margin: auto;
}

.firstline {
  margin-top: 66px;
}

.bigline {
  width: 1200px;
  height: 1px;
  float: left;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: calc(50% - 600px);
  background-color: #e5e5e5;
}

.bg {
  float: left;
  margin-right: 27px;
}

.alarm {
  width: 32px; 
  height: 31px;
  background: url('https://i.lensdump.com/i/8e9OVK.png') -114px -10px;
}

.book {
  width: 32px; 
  height: 32px;
  background: url('https://i.lensdump.com/i/8e9OVK.png') -62px -10px;
}

.computer {
  width: 32px; 
  height: 28px;
  background: url('https://i.lensdump.com/i/8e9OVK.png') -114px -61px;
}

.graph {
  width: 32px; 
  height: 32px;
  background: url('https://i.lensdump.com/i/8e9OVK.png') -10px -62px;
}

.home {
  width: 32px; 
  height: 31px;
  background: url('https://i.lensdump.com/i/8e9OVK.png') -62px -62px;
}

.image {
  width: 32px; 
  height: 32px;
  background: url('https://i.lensdump.com/i/8e9OVK.png') -10px -10px;
}

.work-header {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  color: #333333;
}

.work-description {
  margin-left: 60px;
  margin-right: 75px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: left; 
  color: #999999;
}
.firstline, .secondline {
  float: left;
  width: 33%;
}

.secondline {
  margin-bottom: 50px;
}

footer {
  background-color: #f8f8f8;
}

.mogo, .blog, .instagram {
  float: left;
}

.mogo {
  width: 42.5%;
  padding-top: 74px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  font-weight: 700;
  color: #cccccc
}

.mogo-description {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #b4b4b4;
  margin-right: 48px;
  margin-bottom: 46px;
  margin-top: 43px;
}

.fifteen {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
}

.followers {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
}

.icons {
  margin-right: 21px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #b4b4b4;
}

.mid {
  height: 1px;
  width: 480px;
  margin-top: 19px;
  margin-bottom: 19px;
  background-color: #e5e5e5;
}

.icon {
  display: inline-block;
  margin-right: 16px;
}

.icon:hover {
  cursor: pointer;
}

.dribbble {
  width: 16px; 
  height: 16px;
  background: url('https://i.lensdump.com/i/8e9OVK.png') -10px -114px;
}

.facebook {
  width: 8px; 
  height: 17px;
  background: url('https://i.lensdump.com/i/8e9OVK.png') -166px -84px;
}

.google {
  width: 16px; 
  height: 15px;
  background: url('https://i.lensdump.com/i/8e9OVK.png') -82px -114px;
}

.instagram-icon {
  width: 16px; 
  height: 16px;
  background: url('https://i.lensdump.com/i/8e9OVK.png') -46px -114px;
}

.pinterest {
  width: 13px; 
  height: 17px;
  background: url('https://i.lensdump.com/i/8e9OVK.png') -166px -10px;
}

.tumblr {
  width: 10px; 
  height: 17px;
  background: url('https://i.lensdump.com/i/8e9OVK.png') -166px -47px;
}

.twitter {
  width: 16px; 
  height: 14px;
  background: url('https://i.lensdump.com/i/8e9OVK.png') -118px -114px;
}

.youtube {
  width: 16px; 
  height: 12px;
  background: url('https://i.lensdump.com/i/8e9OVK.png') -10px -150px;
}

.follow .back {
  margin-bottom: 70px;
}

.email {
  display: inline-block;
  margin-top: 40px;
  width: 229px;
  height: 40px;
  background-color: #ffffff;
  color: #e7e7e7;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  border: #e7e7e7 1px solid;
  box-sizing: border-box;
}

.text-form {
  position:relative;
  top: 11px;
}

.email .text-form {
  left: 12px;
}

.sub {
  display: inline-block;
  margin-left: -4px;
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  box-sizing: border-box;
}

.sub:hover {
  cursor: pointer;
}

.blog {
  width: 35%;
  margin-top: 79px;
}

.social {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
}

.blog-photo {
  width: 120px;
  height: 80px;
  float: left;
  margin-right: 20px;
}

.text {
  padding-top: 20px;
  margin-right: 70px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.post:hover {
  cursor: pointer;
}

.date, .instagram-link {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  color: #b4b4b4;
}

.instagram-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.date {
  margin-left: 20px;
  margin-right: 81px;
}

.instagram {
  width: 22.5%;
  margin-top: 79px;
}

.instagram-photo {
  float: left;
  border: #f8f8f8 solid 1px;
}

.finish {
  margin-bottom: 19px;
}

.copyright {
  background-color: #f8f8f8;
  text-align: center;
}

.text-copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.copyright .endline {
  margin-top: 69px;
}

.endline {
  width: 1200px;
  height: 1px;
  margin-left: calc(50% - 600px);
  background-color: #e5e5e5;
}

.author {
  color: #f38181;
}

.author:hover {
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}